@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500;1,700&family=Montserrat:wght@200;400;800&family=Open+Sans:wght@300;500;700&family=Roboto+Condensed:ital,wght@0,300;0,700;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.none_exist {
    display: none;
}
.temp_text-align {
    text-align: center;
    background-color: var(--welcomePage-background-color);
    font-family: var(--welcomePage-font-family);
    font-size: var(--welcomePage-medium-font-size);
    color:var(--welcomePage-main-font-color);
}
