.offline_explorer_screen_container {
    width: 100%;
    height: 100%;
    background:var(--offlineExplorer-main-background-color);
    color: var(--offlineExplorer-main-font-color);
}
.ffline_explorer_screen_container_inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background:var(--offlineExplorer-main-background-color);
    color: var(--offlineExplorer-main-font-color);
}
.separator {
    border-radius: 15px;
    margin:0 10px 0 5px;
    height: 100%;
    position: relative;
}
.separator::before{
    content: '';
    border: 2px solid var(--offlineExplorer-separator-color);
    height: 90.7%;
    position: absolute;
    left: 0;
    top: 4.7%;
}
