/* * {
    border: 1px solid green;
} */

.offline_explorer_screen_container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    background:var(--offlineExplorer-main-background-color);
    color: var(--offlineExplorer-main-font-color);
}

/* NAV BAR LEFT */

.navigation_and_settings_container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

/* Nav container */

.navigation_containter {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5%;
}

.search_container {
    width: 100%;
}

.pinned_container {
    width: 100%;
}

.tabs_nav_container {
    width: 100%;
}

/* Settings container */

.settings_containter {
    width: 100%;
    height: 10%;
}

/* ------------------------- */
/* folder_content_container css styles */
.folder_content_and_properties_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.folder_content_container {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

/* file table temp */

.file_tabel {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 97%;
    width: 100%;
}
/* REDO!!!!(Start) */
.name_h {
    margin-left: 36px;
}
.type_h {
    margin-left: 186px;
}

.date-created_h {
    margin-left: 13px;
}
.date-modified_h {
    margin-left: 23px;
}
/* REDO!!!!(End) */
.file, .header_of_file_table {
    display: flex;
    align-items: center;
    gap:5%;
    height: 25px;
}
.file {
    cursor: pointer;
    padding: 15px 0 15px 0;
    border: 1px solid transparent;
}
.file p, .file div img {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file:hover{
    background-color: var(--offlineExplorer-file-hover-background-color);
}

.info_no_files {
    margin: 20px 0 0 20px;
}
.disk_container {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap:15px;
    flex-wrap: wrap;
}

.disk {
    padding-left: 5px;
    width: 230px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--offlineExplorer-drive-background-color);
    gap: 10px;
    height: 60px;
    border-radius: 5px;
}


.disk img {
    height: 40px;
    width: 40px;
}

.disk:hover {
    background-color: var(--offlineExplorer-drive-hover-background-color);
}


.fillbar_progress {
    width: 160px;
    height: 13px;
    overflow: hidden;
    background-color: var(--disk-fill-indicator-empty);
    transition: ease-in-out 0.3s;
}

.fillbar_progress_filled {
    height: 100%;
}
.disk_info {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.disk_skeleton {
    margin-left: 15px;
    animation: skeleton-loading 1s linear infinite alternate;
    width: 235px;
    height: 60px;
    border-radius: 5px;
}

@keyframes skeleton-loading {
    0% {
      background-color: var(--offlineExplorer-drive-background-color-skeleton-start);
    }
    100% {
      background-color: var(--offlineExplorer-drive-background-color-skeleton-end);
    }
  }


.name img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.name {
    display: flex;
    align-items: center;
    min-width: 260px;
    max-width: 260px;
}
.type {
    min-width: 43px; 
}

.fileinfo_down_display {
    width: 100%;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:30px;
    
}
.fileinfo_down_display p {
    font-size: 14px;
    min-width: 60px;
}
.fileinfo_down_display div {
    border: 1px solid var(--offlineExplorer-file-info-down-display-line-color);
    width: 90%;
}

/* - */

.properties_container {
    width: 100%;
    height: 130px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_buttons_container {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 10px;
}
.info_and_properties_container {
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 45px;
}

.path_container {
    height: 80px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    gap:5px;
}

.folder_representation{
    width: 80px;
    height: 80px;
    
}
.intaractive_path {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
    
}
.intaractive_path h1 {
    font-size: 28px;
    font-weight: 500;
}

.start_path_container {
    display: flex;
    align-items: center;
}

.start_path_container img {
    width: 40px;
    height: 40px;
}

.this_pc {
    cursor: pointer;
    color:var(--offlineExplorer-not-interractive);
}

.start_path_container p {
    font-size: 35px;
}

.intaractive_path_inner_div {
    display: flex;
    align-items: center; 
}

.intaractive_path_inner_div p {
    font-size: 18px;
    font-weight: 300;
    color: var(--offlineExplorer-not-interractive);
    cursor: pointer;
}

.this_pc:hover, .intaractive_path_inner_div p:hover{
    color: var(--offlineExplorer-main-font-color);
}

.intaractive_path_inner_div img {
    width: 15px;
    height: 15px;
}


.properties_buttons_visible,.properties_buttons_hiden, .nav_buttons_container {
    display: flex;
    align-items: center;
    gap:5px;
    
}
.properties_buttons_visible, .properties_buttons_hiden {
    margin-right: 10px;
    margin-bottom: 23px;
}
.nav_buttons_container button, .properties_buttons_visible button,.properties_buttons_hiden button {
    background:var(--offlineExplorer-main-background-color);
    color: var(--offlineExplorer-main-button-font-color);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.properties_buttons_visible button, .properties_buttons_hiden button{
    background-color: var(--offlineExplorer-main-button-background-color);
    font-size: 14px;
    font-weight: 300;
    gap:5px;
}

.nav_buttons_container button img {
    width: 25px;
    height: 25px;
}

.properties_buttons button:hover, .nav_buttons_container button:hover, .properties_buttons_hiden button:hover {
    background:var(--offlineExplorer-main-button-background-color-hover);
    color:var(--offlineExplorer-main-button-font-color-hover);
}

.properties_buttons_visible button:hover img, .nav_buttons_container button:hover img, .properties_buttons_hiden button:hover img {
    filter: var(--offlineExplorer-main-button-image-hover-color-svg);
}

.properties_buttons_hiden {
    display: none;
}

.menu_hidden_button img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 1000px) {
    .properties_buttons_visible {
        display: none;
    }
    .properties_buttons_hiden {
        display: flex;
    }
}

.spred_files_container {
    /* border: 1px solid red; */
    width: 100%;
    gap:15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.file_spred {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    /* border: 1px solid red; */
    cursor: pointer;
    block-size: fit-content;
    padding: 5px;
}
.file_spred img {
    height: 60px;
    width: 60px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.file_spred p {
    text-align: center;
    font-size: 12px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.file_spred:hover{
    background-color: var(--offlineExplorer-file-hover-background-color);
}

.file_spred_chosen {
    background-color: var(--offlineExplorer-file-hover-background-color);
}
.file_spred_chosen p {
    background-color: var(--offlineExplorer-file-hover-background-color);
}