/* welcomePage vars  */
:root {
    /*colors*/

    --welcomePage-background-color:#1C2321;
    --welcomePage-main-font-color:#7D98A1;

    /* https://coolors.co/1c2321-7d98a1-5e6572-a9b4c2-eef1ef */
    --some-random-color-1:#5E6572;
    --some-random-color-2:#A9B4C2;
    --some-random-color-3:#EEF1EF;

    /*etc*/

    --welcomePage-medium-font-size:16px;
    --welcomePage-font-family:'Courier New', Courier, monospace;
}
/* Offline explorer vars */
:root {
    --offlineExplorer-main-background-color:#191919;
    --offlineExplorer-main-font-color: #FFFFFF;
    --offlineExplorer-file-hover-background-color: #2c2c2c;

    --offlineExplorer-main-button-background-color:#494a4b;
    --offlineExplorer-main-button-background-color-hover:#515253;
    --offlineExplorer-main-button-font-color-hover:#24acf2;
    --offlineExplorer-main-button-image-color-svg:invert(100%) sepia(4%) saturate(119%) hue-rotate(125deg) brightness(116%) contrast(87%);
    --offlineExplorer-main-button-image-hover-color-svg:invert(61%) sepia(39%) saturate(4561%) hue-rotate(171deg) brightness(101%) contrast(90%);
    
    /* see more https://codepen.io/philcheng/pen/YWyYwG?editors=1100 */

    --offlineExplorer-main-button-font-color:#ffffff;
    --offlineExplorer-drive-background-color: #202020;
    --offlineExplorer-drive-hover-background-color:#363636;

    --disk-fill-indicator-filled:#4e9de5;
    --disk-fill-indicator-empty:#2b5278;
    --disk-fill-indicator-alert:#e71426;

    --offlineExplorer-drive-background-color-skeleton-start:#191919;
    --offlineExplorer-drive-background-color-skeleton-end:#222020;

    --offlineExplorer-not-interractive: #a6a6a6;
    --offlineExplorer-not-interractive-svg: invert(79%) sepia(0%) saturate(1634%) hue-rotate(249deg) brightness(86%) contrast(84%);
    --offlineExplorer-file-info-down-display-line-color:black;

    --offlineExplorer-main-modal-background-color:#494a4bc2;
    --offlineExplorer-main-modal-font-color:#ffffff;
}